<!-- Google fonts -->
<script type="text/javascript">
  WebFontConfig = {
      google: { families: [ 'Arvo:700:latin', 'Open+Sans:400,600,700:latin' ] }
  };
  (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
  })();
</script>

<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <nav>
          <ol class="breadcrumb">

            <li><%= link_to "Главная", root_path %></li>

            <li class="active">О компании</li>

          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <img alt="#" class="wp-post-image-about" src="assets/logo_about.jpg">
      <h1 class="center"><span class="light">Становление компании</span> ООО "Мегре"</h1>
      <hr class="divider">
      <div class="text-shrink">
        <p class="text-highlight">
            Начиналось всё в далёком 1998 году, когда я занимался совсем другим бизнесом и имел довольно смутное представление о творчестве Владимира Мегре. В тот год Владимир Николаевич проводил в Геленджике читательскую конференцию, куда и пригласил нас с Полиной и нашей дочерью Ниной. Конференция прошла вполне успешно, а по её окончании я провел ещё 3 недели с Владимиром Николаевичем, после чего вернулся домой и на одном дыхании прочёл книгу «Анастасия». Потом ещё одну, «Звенящие Кедры России». Затем книгу «Пространство любви». Именно этот момент я и считаю переломным в моей судьбе.
            <br><br>
            Среди своих знакомых я нашел человека, много лет проработавшего егерем в тайге. С его помощью я надеялся выяснить, где в Новосибирской области есть возможность собрать кедровые шишки. Он согласился показать мне «кедровые» места в области и вскоре мы отправились в тайгу.
            <br><br>
            От Новосибирска эти места находятся чуть более 100 км, но добирались мы туда более 4 часов по полевой дороге. Что могло заставить прийти к этому? Складывается впечатление, что кто-то взял за руку и повел именно туда.
        </p>
      </div>
      <hr class="divider  divider-about">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h3><span class="light">О</span> тайге и кедре</h3>
          <p class="text" align="justify">
            Каждый человек, хотя бы раз побывавший в тайге, никогда не забудет это место. Удивительная красота, энергетика, чистый воздух — хочется устроиться поудобнее и забыть и городской суете и проблемах.
            Возникает желание пройти вглубь леса. Смотреть, удивляться, прикасаться, гордиться — чувствовать себя частью этого мира. Масштабы этого мира поражают!
            Первое что бросается в глаза — это высокие, могучие и пушистые кедры. Сразу понимаешь кто тут главный.
            Обхватив стройный ствол этого гиганта, чувствуешь мощную энергетику. Внимательно рассмотрев веточки кедра, можно заметить, что все они имеют ровно пять иголочек, как пять пальцев у человека. Ну не совпадение ли?
            Обратившись к научной литературе и народной медицине выясняется, что кедр может дать человеку все, что ему нужно. Это живой дар природы!
          <p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h3><span class="light">Цели компании</span> «Звенящие Кедры»</h3>
          <p class="text">
            В феврале 2011 года была создана компания «Звенящие Кедры», состоящая из людей, объединенных идеей создания Родовых поместий.
            Компания предлагает только качественный природный продукт, наполненный теплом человеческих рук, который создан и используется для себя и для других.
            <br><br>
            Основными задачами компаниями являются:
            <br><br>
            1. Создание множества отделов, магазинов, кафе, ресторанов под знаком «Звенящие Кедры России» для вывода на рынок и реализации новой уникальной, альтернативной продукции;<br>
            2. Популяризация идеи создания Родовых поместий, ведения здорового образа жизни, качественного питания.<br>
            Ключевую роль в становлении компании сыграли книги Владимира Мегре.
          <p>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="search-mode__overlay"></div>


<script type="text/javascript">
    function downloadJSAtOnload() {
        var element = document.createElement("script");
        element.src = "js/main.js";
        document.body.appendChild(element);
    }
    if (window.addEventListener)
        window.addEventListener("load", downloadJSAtOnload, false);
    else if (window.attachEvent)
        window.attachEvent("onload", downloadJSAtOnload);
    else window.onload = downloadJSAtOnload;
</script>

