<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <nav>
          <ol class="breadcrumb">

            <li><%= link_to "Главная", root_path %></li>

            <li class="active">Доставка</li>

          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <img alt="#" class="center-block" src="assets/delivery.png">
      <h1 class="center"><span class="light">Информация по </span>доставке и оплате <span class="light"> продукции</span></h1>
      <hr class="divider">

      <div class="text-shrink">
        <ul type="circle" >
          <li><strong>Курьерская доставка</strong> продукции по Липецку</li><br>
          <p>Стоимость курьерской доставки от 100 рублей. При заказе на сумму от 2000 рублей <strong>доставка бесплатная</strong>. Возможна доставка в ближайшие регионы.</p>
          <br>
          <li>Доставка продукции <strong>Почтой России</strong> осуществляется во все регионы России.</li><br>
          <p>Стоимость доставки можно узнать на официальном сайте http://russianpostcalc.ru/</p>
          <br>
          <li>Доставка продукции <strong>транспортной компанией</strong></li><br>
          <p>Вы можете выбрать любую удобную Вам транспортную компанию, которая делает доставки из Липецка в Ваш город. Стоимость доставки Вы можете посчитать на сайте транспортной компании через их калькулятор.</p>
        </ul><br><br>
      </div>
    </div>
  </div>
</div>