<!-- Google fonts -->
<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Arvo:700:latin', 'Open+Sans:400,600,700:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
    '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();
</script>

<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <nav>
          <ol class="breadcrumb">

            <li><%= link_to "Главная", root_path %></li>

            <li class="active">Производство</li>

          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="center"><span class="light">Дело на совесть</span> <br> или как производятся настоящие кедровые продукты</h1>
      <hr class="divider">
      <div class="text-shrink">
        <p class="text-highlight">
          Сегодня на рынке присутствует огромное количество различных кедровых продуктов. И это не
          случайно: интерес к целебным свойствам кедра со стороны потребителей высок как никогда. По
          данным системы Яндекс, ежемесячно поиском продуктов из кедра через интернет занимается до
          20 000 человек. Совершенно естественно, что если есть спрос, появляются и предложения. К
          сожалению, нередки случаи, когда в попытке быстро заработать на популярной теме,
          предприниматели прибегают к недобросовестным методам – значительно преувеличивают
          пользу своей продукции.
          <br><br>
          Как же разобраться во всем многообразии кедровой продукции и не позволить себя обмануть? Мы
          поможем.
          <br><br>
          Проще всего объяснить все тонкости дела на достойных примерах. Мы расскажем, как организовано
          производство продукции в Кедровом Доме компании «Мегре», и чем оно так особенно.
        </p>

        <hr class="divider">

        <h3><span class="light">Самое главное</span> – отношение</h3>
        <p class="text" align="justify">
          Работать с кедром равнодушно невозможно. Ведь это не просто дерево и источник сырья – это
          целая вселенная со своими правилами и ценностями. Сила и чудесные свойства Кедра известны
          русским людям тысячи лет и очень полно описаны в книгах Владимира Мегре из серии «Звенящие
          кедры России». Производство компании «Мегре» организовано близкими самого Владимира
          Николаевича, а это значит, здесь по-настоящему любят и ценят Кедр.
        <p>
        <div class="col-sm-8">
          <img alt="#" class="wp-post-image" src="assets/create/foto1.jpg">
        </div>
        <div class="col-sm-4">
          <div class="banners--small">
            Тайга, где собирают кедровые шишки<br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="divider">

  <div class="row">
    <div class="col-xs-12">
      <div class="text-shrink">
        <h3><span class="light">Все</span> по-настоящему</h3>
        <p class="text" align="justify">
          Производство организовано в Кедровом доме в 2-х километрах от Сибирской Тайги в деревне
          Кандаурово, на границе Новосибирской и Томской областей. Все процессы – от сбора сырья до
          упаковки продукции - осуществляются вручную или с применением деревянного оборудования,
          воссозданного по старинным чертежам. Машинные механизмы применяются по минимуму, только
          там, где человеческой силы не достаточно. Основная работа с кедровым орехом осуществляется
          женщинами – ведь существует поверье, что в контакте с женскими руками кедровый орех полностью
          сохраняет всю свою добрую энергетику. Мужчины участвует в тяжелых работах по сбору шишек и
          отжиме кедрового масла.
        <p>
        <div class="col-sm-8">
          <img alt="#" class="wp-post-image" src="assets/create/foto2.jpg">
        </div>
        <div class="col-sm-4">
          <div class="banners--small">
            Перебор кедрового ореха<br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="divider">

  <div class="row">
    <div class="col-xs-12">
      <div class="text-shrink">
        <h3><span class="light">Основа всего</span> – сырье</h3>
        <p class="text" align="justify">
          Вполне очевидно, что для того, чтобы получился хороший продукт, важно использовать для его
          изготовления лучшее сырье и самое главное – соблюдать все правила работы с ним. Для
          производства кедровых продуктов «Мегре» используется только отборный кедровый орех. Часть
          собирается тут же в принадлежащем Компании секторе Тайги, где культивируются крепкие
          Сибирские кедры, а часть (для нужд компании собственного сырья не достаточно) закупается у
          проверенных бурятских поставщиков.
        <p>
        <div class="col-sm-8">
          <img alt="#" class="wp-post-image" src="assets/create/foto3.jpg">
        </div>
        <div class="col-sm-4">
          <div class="banners--small">
            Лепестки кедровой шишки<br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="divider">

  <div class="row">
    <div class="col-xs-12">
      <div class="text-shrink">
        <h3><span class="light">Соблюдение</span> технологии</h3>
        <p class="text" align="justify">
          Кедровые продукты очень чувствительны к любым нарушениям технологии их изготовления. В
          Кедровом доме «Мегре» внимательно соблюдаются все рецептуры продуктов и технологические
          процессы – за этим лично следит Генеральный Директор компании Сергей Мегре. Так кедровое
          масло отжимается только методом холодного прессования на деревянном прессе и сразу же
          разливается в стерильные стеклянные флаконы (чтобы не потерять своих целебных свойств). Самое
          ценное масло – первого холодного отжима содержит в себе огромное количество полезных микро-и макроэлементов, и герметичная стеклянная бутылочка, в которую оно разливается, помогает эту
          пользу сберечь и донести до покупателей.
        <p>
        <div class="col-sm-8">
          <img alt="#" class="wp-post-image" src="assets/create/foto4.jpg">
        </div>
        <div class="col-sm-4">
          <div class="banners--small">
            Холодный отжим кедрового масла<br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="divider">

  <div class="row">
    <div class="col-xs-12">
      <div class="text-shrink">
        <h3><span class="light">Ценно</span> все!</h3>
        <p class="text" align="justify">
          Производство «Мегре» - безотходное. Из уважения к Кедру для создания продуктов используются
          все, что можно из него получить. Начиная от целой шишки (холодной отжим кедровый шишки,
          кстати сказать, инновация компании - с его помощью тут получают уникальный «Кедровый
          Эликсир), заканчивая кедровым жмыхом, который остается после отжима масла. В полезные
          продукты превращается буквально все – ядро и скорлупа кедровых орехов, живица кедра и даже
          пленочка кедрового ореха!
        <p>
        <div class="col-sm-8">
          <img alt="#" class="wp-post-image" src="assets/create/foto5.jpg">
        </div>
        <div class="col-sm-4">
          <div class="banners--small">
            Подушка из пленки ядра кедра<br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="divider">

  <div class="row">
    <div class="col-xs-12">
      <div class="text-shrink">
        <h3><span class="light">Подходящая</span> упаковка</h3>
        <p class="text" align="justify">
          Мы уже рассказывали о том, как и во что разливается кедровое масло, однако стоит упомянуть и о
          других продуктах. Компания не скупится на качественную, пусть и не самую дешевую упаковку. Нам
          намного важнее, как долго с ее помощью продукт сохранит свои свойства и будет ли по-настоящему
          полезен. А ведь кедровые продукты в этом отношении очень капризны.
        <p>
        <div class="col-sm-8">
          <img alt="#" class="wp-post-image" src="assets/create/foto6.jpg">
        </div>
        <div class="col-sm-4">
          <div class="banners--small">
            Кедровое масло первого холодного отжима<br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="divider">

  <div class="row">
    <div class="col-xs-12">
      <div class="text-shrink">
        <h3><span class="light">Как делают</span> другие</h3>
        <p class="text" align="justify">
          Мы не беремся утверждать, что это касается всех производителей, есть среди них и достойные,
          любящие свое дело мастера, но для многих перечисленные ниже способы работы – норма.
        <p>
        <ul>
          <li><b>Закуп дешевого, химически обработанного сырья</b></li>
            <p class="text" align="justify">
              Не секрет, что в связи с тяжелой ситуацией на рынке во многих сферах возникает проблема с
              сырьем. Не миновала она и наш сектор. Сегодня довольно сложно купить качественный
              кедровый орех по адекватной цене. Ситуация усугубляется еще и тем, что проворные
              предприниматели вовремя скупили в Бурятии запасы ореха нового урожая и теперь продают
              его втридорога. Часть же этого урожая, скупленная китайцами по низким ценам из-за скачков
              доллара, была увезена в Китай, прошла там химическую обработку и теперь продается нам
              же по значительно более высокой цене. Именно такой орех можно сегодня видеть на полках
              многих супермаркетов и в продуктах ряда производителей. Мы на компромисс между
              качеством продукта и ценой сырья не идем! Это принципиальная позиция Компании.
              Поэтому, к сожалению, вынуждены повышать цены на продукцию.
            <p>
          <li><b>Использование промышленного оборудования</b></li>
            <p class="text" align="justify">
              Для того чтобы продавать много дешевого кедрового масла требуется использовать
              промышленное оборудование. Ручной труд и простейшие деревянные механизмы не
              обеспечат нужные объемы производства. А теперь задайте себе вопрос: будет ли выжатое
              при нагревании и разлитое спустя несколько часов в дешевый пластик масло таким же
              полезным, как сделанное по всем правилам?
            <p>
          <li><b>Удешевление продуктов за счет оборота</b></li>
          <p class="text" align="justify">
            Крупные объемы производства позволяют зарабатывать на объеме даже с учетом более
            низкой цены. Продав 10 яблок по 10 рублей, я получу 100 рублей, а продав 100 по 5 рублей –
            уже 500.
          <p>
          <li><b>Логистика</b></li>
          <p class="text" align="justify">
            Намного дешевле организовать производство в крупном мегаполисе и централизованно
            возить продукцию с единого склада по всем городам страны. Производить кедровые
            продукты в отдаленной от цивилизации деревне, сначала доставлять в город, а отсюда в
            другие пункты – очевидно дороже.
          <p>
        </ul>
      </div>
    </div>
  </div>

  <hr class="divider">

  <div class="row">
    <div class="col-xs-12">
      <div class="text-shrink">
        <p class="text-highlight">
          Если у вас еще остались вопросы, почему сегодня продукция «Мегре» чуть дороже других
          кедровых продуктов, мы ответим просто: на рынке ей нет реальных аналогов по качеству и
          ценности. Приобретая ее, вы получаете НАСТОЯЩЕЕ, а не подделку с красивой этикеткой. Это
          честный продукт, который несет такую же живую и честную энергетику.
          <br><br>
          В любом случае, лучшее доказательство любого утверждения – собственный опыт.
          Приезжайте к нам на производство в Кедровый дом «Мегре», мы с радостью покажем вам
          весь процесс работы и позволим в нем поучаствовать. Записаться на экскурсию можно по
          ссылке: <a class="panel-link" href="http://megrellc.com/company/cedar_house/" target="_blank">megrellc.com/company/cedar_house/</a>
          <br><br>
          Цените настоящее!
          <br><br>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="search-mode__overlay"></div>

<script type="text/javascript">
  function downloadJSAtOnload() {
    var element = document.createElement("script");
    element.src = "js/main.js";
    document.body.appendChild(element);
  }
  if (window.addEventListener)
    window.addEventListener("load", downloadJSAtOnload, false);
  else if (window.attachEvent)
    window.attachEvent("onload", downloadJSAtOnload);
  else window.onload = downloadJSAtOnload;
</script>
