<div class="container">
  <!-- Big banner -->
  <div class="row">
    <div class="col-xs-12">
      <div class="push-down-30">
        <div class="banners--big">
          Мы - официальные дилеры компании "Звенящие кедры России" в<strong> Липецке и Липецкой области.</strong>
        </div>
      </div>
    </div>
  </div>

  </br></br>

  <%= form_for @category, method: :patch do |f| %>
      <%= f.label :Название %> <br>
      <%= f.text_field :name %> <br>
      <%= f.submit "Сохранить", class: "btn btn-primary--reverse-transition" %> <br>
  <% end %>

  </br></br>

</div>